
.todos {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 67px -24px rgba(0,0,0,0.2);
}
.todos .header {
  border-bottom: 1px solid rgba(214, 214, 214, 0.363);
  padding: 10px 0 10px 0;
  margin-top: 20px;
}
.container h1 {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100px;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  color: rgba(9, 114, 211, 0.322);
  display: block;
  margin: 0;
}
.todos .header .input {
  display: flex;
  padding: 10px;
}
::placeholder {
  opacity: 0.5;
  font-style:italic;
}

.todos .header .input img{
  margin: auto;
  margin-left: 9px;
  margin-right: 25px;
  opacity: 0.4;
}
.todos .header .input input {
  font-weight: 300;
  font-size: 20px;
  border-bottom: 1px solid rgb(184, 184, 184);
  border: none;
  outline: none;
  cursor: text;
  width: 100%;
}
.foo {
  text-align: center;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  
}
.filter li p {
  text-align: center;
  margin: 0 10px 0 10px;
  padding: 3px;
  border-radius: 8%;
  cursor: grabbing;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

.filter li p:hover {
  background-color: rgba(96, 99, 105, 0.322);
}